.container-game {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
}

.space-game {
    width: 100%;
    min-height: 68rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-question {
    width: 90rem;
    max-width: 100%;
    min-height: 55rem;
    position: relative;
    top: -15rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bgBranco);
    border: 2rem solid var(--bgVermelhoVinho);
    border-radius: .5rem;
    padding: 2rem;
    margin: 0 2rem;
}

.container-user-about {
    width: 86rem;
    height: auto;
    margin: 0 auto;
    padding: 5rem 0;
}

.hello-name {
    max-width: 40rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.showName {
    font-size: 4rem;
    color: var(--colorBranco);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showTest {
    font-size: 3.2rem;
    color: var(--colorBranco);
    font-weight: 400;
    margin-top: 1rem;
}

.keepCalm {
    max-width: 50rem;
    font-size: 1.6rem;
    color: var(--colorBranco);
}

#hud-item {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: .2rem solid black;
}

.currentQuestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentProgress {
    font-size: 3rem;
}

.hud-prefix {
    font-size: 2.8rem;
    font-weight: bold;
    color: #A7A7A7;
}

.hud-main-text {
    text-align: center;
}

#progressBar{
    width: 100%;
    height: 3rem;
    border: 0.3rem solid var(--bgVermelhoVinho);
    margin-top: 2rem;
}

#progressBarFull {
    height: 100%;
    background-color: var(--bgVermelhoVinho);
    width: 0%;
}

.question {
    margin-top: 2rem;
    font-size: 2.4rem;
    color: #232323;
    font-weight: 400;
}



/* warning */
.warning {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.important {
    margin-left: 2rem;
    font-size: 1.4rem;
    color: #A7A7A7;
}